bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/

DataProtectionComplianceTool/temp.ttl

DataProtectionComplianceTool.sln.DotSettings.user
DataProtectionComplianceTool.sln.DotSettings
GraphManipulation.sln.DotSettings.user

DataProtectionComplianceTool/GraphStorage.sqlite

DataProtectionComplianceTool/config.json

GraphStorage.sqlite

Test/TestResources/log

Test/TestResources/testConfig.json
*.sqlite
!EndToEndCommands/database.sqlite
