bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/

GraphManipulation/temp.ttl

GraphManipulation.sln.DotSettings.user

GraphManipulation/GraphStorage.sqlite

GraphManipulation/config.json

GraphStorage.sqlite

Test/TestResources/log
